.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 2%;
}
.userHeading{
  font-size: 1.5rem;
}
.messageContainer {
  width: 50vw;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  display: flex;
}
.proDetailsBackground {
  color: rgba(0, 0, 255, 0.466);
}
.propertyCard {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-repeat: no-repeat;
    background-size: cover; */
}
.timeFloat{
  margin: 4% 0% 0% 0%;
}



/* mediaquery */

@media only screen and (max-width: 920px) {
  .messageContainer {
    width: 90vw;
  }
  .propertyCard {
    width: 90vw;
  }
}

