.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}
.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 2%;
}
.userDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C9AE54;
  
}
.userHeading{
  font-size: 1.5rem;
  color: #C9AE54;

}
.messageContainer {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  margin-top: 3%;
}



/* mediaquery */

@media only screen and (max-width: 920px) {
  .messageContainer {
    width: 100vw;
  }
  .userPropertyTable {
    width: 90vw;
  }
}
@media only screen and (max-width: 820px) {
  .messageContainer {
    margin-left: 10%;
    width: 100vw;
  }
  
}

@media only screen and (max-width: 620px) {
  .messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    width: 100vw;
  }
 
}

